@charset "UTF-8";

    body {
        background-color:darkkhaki;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
    }

    h1{
        color:blueviolet;

    }
    h2{
        color:blueviolet;
        
        
    }
